.carousel{
    position: relative;
    display: flex;
    align-items: center;
    min-height: calc(100vh - var(--nav-height));
}

.carousel__item{
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: .8fr 1.2fr;
    place-content: center;
    gap: 2rem;
    margin: 0 7rem;
    min-height: calc(100vh - var(--nav-height));
}

.carousel__h2{
    margin-top: 1rem;
}

.carousel__img{
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.carousel__controls{
    position: relative;
    width: 100%;
}

.carousel__controls button{
    position: absolute;
}

.carousel__left{
    left: 1rem;
}

.carousel__right{
    right: 1rem;
}